body { min-height: 100vh; display: flex; flex-direction: column; }
header{ } 
main{flex-grow: 1;} 
footer{ }




* {
  outline: 1px solid grey;
}
.row{
  margin-left: 0;
  margin-right: 0;
}

.bg-photo{
  background-image: url(Battle_Angel.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image-fit{
  max-height: 65vh;
}

.positioning{
  position: absolute;
  min-height: 110%;
}

.box-spill-out{
  bottom: -10px;
}

.fill-out{
  min-height: 14em;
}
.fill-in{
  max-height: 12em;
}

@media only screen and (max-width: 768px) {
  .text-hidden{
    display: none;
  }

  .positioning{
    position: unset;
    min-height: unset;
  }

  .stack{
    order: 2;
  }
  .first-stack{
    order: 1;
  }
  .last-stack{
    order: 3;
  }
}