body { min-height: 100vh; display: flex; flex-direction: column; }
header{ } 
main{flex-grow: 1;} 
footer{ }

* {
  outline: 1px solid grey;
}

.img-size{
  max-width: 520px; 
  max-height: 480px;
}


.positioning{
  position: absolute;
  min-height: 125%;
}

.box-spill-out{
  bottom: -10px;
}

@media only screen and (max-width: 768px) {
  .text-hidden{
    display: none;
  }

  .positioning{
    position: unset;
    min-height: unset;
  }

  .stack{
    order: 2;
  }
  .first-stack{
    order: 1;
  }
  .last-stack{
    order: 3;
  }
}